In [22]:
from sklearn.feature_selection import SelectKBest, f_classif
import numpy as np
import pandas as pd
diabetes_df = pd.read_csv('diabetes.csv')
heart_df = pd.read_csv('heart.csv')
heart_df = heart_df.drop(['thalach','exang','oldpeak','slope','sex','thal','restecg'],axis=1)
# Apply SelectKBest on the diabetes dataset
k_best = SelectKBest(f_classif, k=3)
diabetes_features = diabetes_df.drop('Outcome', axis=1)
diabetes_labels = diabetes_df['Outcome']
diabetes_features_new = k_best.fit_transform(diabetes_features, diabetes_labels)
selected_features_diabetes = np.array(diabetes_features.columns)[k_best.get_support()]

# Apply SelectKBest on the heart disease dataset
k_best = SelectKBest(f_classif, k=6)
heart_features=heart_df.drop(['target'],axis=1)
heart_labels = heart_df['target']
heart_features_new = k_best.fit_transform(heart_features, heart_labels)
selected_features_heart = np.array(heart_features.columns)[k_best.get_support()]
print(selected_features_diabetes)
print(selected_features_heart)
diabetes_df=diabetes_df[selected_features_diabetes]
heart_df =heart_df[selected_features_heart]

['Glucose' 'BMI' 'Age']
['Age' 'cp' 'trestbps' 'chol' 'fbs' 'ca']

In [76]:
merged_df = pd.merge(diabetes_df, heart_df, how='inner', on='Age')
merged_df= merged_df.drop_duplicates()
merged_df= pd.concat([merged_df,heart_labels] , axis=1)
merged_df= merged_df.drop_duplicates()
selected_samples_list = []
for age, group in grouped_df:
    try:
        samples = group.sample(27, replace=True)
    except ValueError:
        samples = group.sample(replace=True)
    selected_samples_list.append(samples)
new_df = pd.concat(selected_samples_list)


np.shape(new_df)

(1512, 9)

In [77]:
new_df.dropna()

      Glucose   BMI  Age   cp  trestbps   chol  fbs   ca  target
438      86.0  41.3   29  1.0     130.0  204.0  0.0  0.0       0
362     111.0  28.4   29  1.0     130.0  204.0  0.0  0.0       0
386     106.0  26.5   29  1.0     130.0  204.0  0.0  0.0       0
370     158.0  39.4   29  1.0     130.0  204.0  0.0  0.0       0
406      92.0  42.2   29  1.0     130.0  204.0  0.0  0.0       0
...       ...   ...  ...  ...       ...    ...  ...  ...     ...
7470    145.0  32.5   70  0.0     130.0  322.0  0.0  3.0       0
7468    145.0  32.5   70  2.0     160.0  269.0  0.0  1.0       0
7468    145.0  32.5   70  2.0     160.0  269.0  0.0  1.0       0
7468    145.0  32.5   70  2.0     160.0  269.0  0.0  1.0       0
7471    145.0  32.5   70  1.0     156.0  245.0  0.0  0.0       0

[999 rows x 9 columns]

In [78]:
new_df.to_csv('PCOS_datast.csv', index=False)